@charset "UTF-8";
/* CSS Document */

h1{
	color:green;
	font-size:250%;
}
div{
	max-width:640px;
	margin-right: auto;
	margin-left: auto;
}
h1,h2,li,footer{
	text-align: center;
	font-family: 'Fredoka One', cursive;
}
li{
	list-style: none;
	float: left;
	width: 33%;
}
ul:after{
	content:"";
	display:block;
	clear: both;
}
ul{
	padding:0;
}
table{
	width:100%;
}
th{
	text-align: left;
}
.price{
	text-align: right;
}
li a{
	color:darkgreen;
}
li a:hover{
	text-decoration:none;
}
header{
	border-top:solid 10px #c2e08f;
}
h2{
	background-image: url("ヤマタク　練習/image/bg_h2.png");
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 220px 28px;
}
section{
	box-shadow: 0 0 10px 0 #ccc;
	margin-top: 40px;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-right: 20px;
	padding-left:20px;
}
th img{
	border-radius: 10px;
}
img{
	max-width: 100%;
}
/*メディアクエリー　モバイル端末対応*/
@media(max-width:640px){
	li{
		width:auto;
		float:none;
	}
	li a{
		background-color: #c2e08f;
		display:block;
		margin-bottom:0.5em;
		padding:1em;
		border-radius: 6px;
		text-decoration: none;
	}
	iframe{
		max-width:100%;
	} 